{% extends "base.html" %}
{% block content %}   <!-- posts/{{ blog_id }} -->
<div class="container">
    <a href="/posts/{{ blog_id }}"><button class="btn btn-default"><-Back to blog</button></a>
    <form id="new-post" action="/posts/new/{{ blog_id }}" method="post">
        <h1>CREATE A NEW POST</h1>
        <div class="form-group">
            <label for="title">Title: </label>
            <input type="text" id="title" class="form-control" name="title">
        </div>
        <div class="form-group">
            <label for="content">Content: </label>
            <input type="text" id="content" class="form-control" name="content">
        </div>
        <button type="submit" class="btn btn-success">Publish</button>
    </form>
</div>
{% endblock %}